.btns-list-container .btn-remove {
    margin-inline-end: .5em;
    padding-block: .6em;
}

.btns-list-container .btn-edit {
    margin-inline-end: .5em;
    padding-block: .6em;
}

.btns-list-container .btn-details {
    margin-inline-end: .5em;
    padding-block: .6em;
}

.todos-list {
    margin-block-start: 2em;
}

.todos-list .todo {
    margin-block-end: 1em;
}