.user-profile-container {
    margin-block-start: 1em;
    margin: 0 auto;
    padding-block-end: 2.5em;
}

.user-profile-container .user-profile h1 {
    margin-block-end: .2em;
}

.user-profile-container .user-profile #fullname {
    padding-inline: 1em;
    padding-block: .8em;
    font-family: Roboto-Regular-Italic;
    border-radius: .4em;
    margin-inline-end: .5em;
}

.user-profile-container .user-profile #color,
#bg-color {
    margin-inline-start: .5em;
    width: 5em;
    height: 3em;
}

.user-profile-container .user-profile label {
    margin-inline-start: .8em;
}

.user-profile-container .user-profile #color:hover,
#bg-color:hover {
    cursor: pointer;
}

.user-profile h2 {
    margin-block-end: .5em;
}

.user-profile-container .user-profile form {
    display: flex;
    align-items: center;
}

.user-profile-container .user-profile {
    margin-block-end: 2em;
    margin-block-start: 2em;
}

.user-profile-container .user-profile button {
    margin-inline-start: 1.5em;
    padding-block: .8em;
    padding-inline: 1em;
}

.user-activities .time-ago {
    color: rgb(172, 172, 172);
    font-family: Roboto-Regular-Italic;
    margin-inline-end: .8em;
}

.user-activities h2 {
    margin-block-end: 0.3em;
}